nav {
  display: flex;
  justify-content: space-around;
  -webkit-box-shadow: 0px 7px 4px 0px rgba(194, 194, 194, 0.5);
  -moz-box-shadow: 0px 7px 4px 0px #adadad80;
  box-shadow: 0px 7px 4px 0px rgba(203, 203, 203, 0.5);
  position: sticky;
  top: 0;
  background-color: white;
}
nav .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .logo span {
  color: white;
  background-color: red;
  border-radius: 50px;
  width: 50px;
  display: grid;
  place-items: center;
  height: 50px;
  font-size: 20px;
  margin-right: 20px;
}
nav .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .links a {
  text-decoration: none;
  color: black;
  padding: 0 10px;
}
nav .links a:hover {
  color: red;
  font-weight: bold;
}
nav .search {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .search .bar {
  height: 27px;
  border: 1px solid black;
  border-right: none;
  outline: none;
  padding-left: 10px;
}
nav .search .mikeOn {
  height: 31px;
  background: transparent;
  border: 1px solid black;
  border-left: none;
  padding: 7px;
  border-right: none;
  font-size: 15px;
  color: green;
  cursor: pointer;
  transition: 1s;
}
nav .search .mikeOff {
  height: 31px;
  background: transparent;
  border: 1px solid black;
  border-left: none;
  padding: 7px;
  border-right: none;
  font-size: 15px;
  color: red;
  cursor: pointer;
  transition: 1s;
}
nav .search .upload {
  border: 1px solid black;
  border-left: none;
  height: 21px;
  padding: 4px;
  display: inline-block;
}
nav .search .upload .imgLabel {
  /* position: absolute;
  top: 0;
  left: 0; */
  cursor: pointer;
  font-size: 20px;
  color: black;
}
nav .search .upload .img {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
nav .search .upload label {
  font-size: 20px;
  padding: 0 10px 0 0;
}
nav .auth {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .auth .btnProfile {
  color: crimson;
  background: transparent;
  border: none;
  font-size: 30px;
  display: grid;
  place-items: center;
  padding: 10px;
}
nav .auth .btnLogin {
  color: black;
  background: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  padding: 10px;
  cursor: pointer;
}
nav .search .timer {
  padding: 10px;
  position: fixed;
  display: grid;
  place-items: right;
  margin-left: -200px;
  transform: scale3d(10px);
}
.layout_product_listing_container {
  padding: 0 5%;
}
.outlet_container {
  margin: 3%;
}
.profile_info_navbar {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.user_profile_logo {
  background-color: purple;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.user_logout_btn_container {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  cursor: pointer;
}
